#home #about-us-section {
  margin: 20px 0;
  text-align: center;
  background-color: rgb(250, 237, 182);

  #descriptive-images {
    padding: 24px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 14px;

    img {
      width: 100%;
      border-radius: 4px;
      box-shadow: 2px 4px 6px rgb(68, 68, 68);
    }
  }
}